<!-- Header Section End -->

<!-- Categories Section Begin -->
<section class="categories">
    
        
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="/productimages/banner2.2.jpg" class="d-block w-100 "
                            style="max-height: 638px;" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                           {{!-- put discription here --}}
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="/productimages/banner1.2.jpg" class="d-block w-100"
                            style="max-height: 638px;" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                           {{!-- put discription here --}}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/productimages/banner1.1.jpg" class="d-block w-100"
                            style="max-height: 638px;" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            {{!-- put discription here --}}
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        
</section>
<!-- Categories Section End -->

<!-- Product Section 1 Begin -->

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>mobile phones</h4>
                </div>
            </div>

        </div>
        <div class="row property__gallery">
            {{#each mobileData}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="/productimages/{{this.productPictures.[0].filename}}"
                        style="background-image: url('/productimages/{{this.productPictures.[0].filename}}');">
                        {{#if this.new}}
                        <div class="label new">New</div>
                        {{else if this.outOfStock}}
                        <div class="label stockout">out of stock</div>
                        {{else if this.sale}}
                        <div class="label sale">Best Seller</div>
                        {{/if}}
                        <ul class="product__hover">
                            <li><a href="#" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">{{this.name}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">${{this.price}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    </div>
    </div>
    </div>
</section>

<!-- Product Section 1 End -->
<!-- Product Section 2 Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>tablets</h4>
                </div>
            </div>
            
        </div>
         <div class="row property__gallery">
            {{#each tabletData}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="/productimages/{{this.productPictures.[0].filename}}"
                        style="background-image: url('/productimages/{{this.productPictures.[0].filename}}');">
                        {{#if this.new}}
                        <div class="label new">New</div>
                        {{else if this.outOfStock}}
                        <div class="label stockout">out of stock</div>
                        {{else if this.sale}}
                        <div class="label sale">Best Seller</div>
                        {{/if}}
                        <ul class="product__hover">
                            <li><a href="#" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">{{this.name}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">${{this.price}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Product Section 2 End -->
<!-- Product Section 3 Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>laptops</h4>
                </div>
            </div>
           
        </div>
         <div class="row property__gallery">
            {{#each laptopData}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="/productimages/{{this.productPictures.[0].filename}}"
                        style="background-image: url('/productimages/{{this.productPictures.[0].filename}}');">
                        {{#if this.new}}
                        <div class="label new">New</div>
                        {{else if this.outOfStock}}
                        <div class="label stockout">out of stock</div>
                        {{else if this.sale}}
                        <div class="label sale">Best Seller</div>
                        {{/if}}
                        <ul class="product__hover">
                            <li><a href="#" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">{{this.name}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">${{this.price}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Product Section 3 End -->
<!-- Product Section 4 Begin -->
<!-- Product Section 4 End -->


<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="user/img/banner/banner-1.jpg"
    style="background-image: url('user/img/banner/banner-1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Trend Section Begin -->

<!-- Trend Section End -->

<!-- Discount Section Begin -->

<!-- Discount Section End -->