<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>

    <!-- Checkout Section Begin -->

    <section class="checkout spad">
        <div class="container">

            <h3 class="mb-3">Select a payment method</h3>
            {{!-- payment section starts --}}
            <div class="row">


                <div class="col-lg-7 checkOut">
                    <form action="#" class="checkout__form" id="checkout-form">

                        {{!-- hidden input for sending address to next field --}}
                        <input type="text" name="addressDetails" value="{{address}}" id="" hidden>
                        <div class="checkout__order">
                            <h5>Your order</h5>
                            <div class="checkout__order__product">



                                <div class="table-responsive px-2">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr style="text-align: center;">
                                                <th class="top__text">Product</th>
                                                <th class="top__text">Price</th>
                                                <th class="top__text__mid">Quantity</th>
                                                <th class="top__text__right">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each cartPro}}
                                            <tr>
                                                <td style="text-align: center;">{{this.productLookup.name}}</td>
                                                <td style="text-align: center;">{{this.productLookup.price}}</td>
                                                <td style="text-align: center;">{{this.cartItems.quantity}}</td>
                                                <td style="text-align: center;"> {{this.total}}</td>
                                            </tr>
                                            {{/each}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="checkout__order__total">
                                <table style="width: 100%;">
                                    {{#each cartSum}}
                                    <tr>
                                        <th>Bag Total</th>
                                        <td style="text-align: right;">{{this.subTotal}}</td>
                                        <input type="text" name="subtotal" id="cart_subtotal" value="{{this.subTotal}}" hidden>
                                    </tr>
                                    <tr>
                                        <th>Coupon Saving</th>
                                        <td id="couponDiscount" style="text-align: right;">0.00</td>
                                    </tr>
                                    <tr>
                                        <th style="font-weight: 600;">Amount Payable</th>
                                        <td id="grandTotal" style="text-align: right; font-weight: 600;">{{this.subTotal}}</td>
                                        <input id="hiddenGrandTotal"  type="text" name="grandTotal" value="{{this.subTotal}}" hidden>
                                    </tr>
                                    {{/each}}
                                </table>
                            </div>


                            <div class="checkout__order__widget">
                                <label for="check-payment">
                                    Cash On Delivery
                                    <input type="radio" id="check-payment" value="COD" name="paymentMethod">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="paypal">
                                    Online Payment
                                    <input type="radio" id="paypal" value="Online-Payment" name="paymentMethod">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn">Place oder</button>
                        </div>
                    </form>
                </div>

                {{!-- coupen div --}}
                <div class="accordionWrapper col-lg-4">
                    <div class="accordionItem open">
                        <h2 class="accordionItemHeading">Check Available Coupons</h2>
                        <div class="accordionItemContent">

                            <div class="col-lg-4 checkOut">
                                <form action="#" class="checkout__form" id="checkout-form">

                                    {{!-- hidden input for sending address to next field --}}
                                    <input type="text" name="addressDetails" value="{{address}}" id="" hidden>
                                    <div class="checkout__order">
                                        
                                        <div class="checkout__order__product">
                                            {{#each AvailCoupon}}
                                            <div class="single_coupon mb-1" >
                                                <input id="radio_coupon" type="radio" onclick="myFunction('{{this.couponCode}}','{{this.couponValue}}')" name="abc" value="{{this.couponCode}}">
                                                <table>
                                                    <tr >
                                                        <th class="couponCode">{{this.couponCode}}</th>                                                      
                                                    </tr>
                                                    <tr >
                                                        <td class="description">{{this.description}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td id="couponValue"  class="couponValue">{{this.couponValue}} </td>
                                                    </tr>
                                                     <input type="text" id="result" hidden>
                                                     <input type="text"  id="coupon_values" hidden>
                                                </table>
                                            </div>
                                           
                                            {{/each}}


                                        </div>
                                        <div class="row">
                                             <button type="button" onclick="addCoupon()" class="site-btn mt-2">Apply Coupon</button>
                                             <button class="site-btn mt-3" onclick="removeCoupon()" type="reset" value="No need of coupon">Reset Coupon</button>

                                        </div>
                                       
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- payment Section End -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        const $form2 = $('#checkout-form')
        $form2.on('submit', submitHandler)

        function submitHandler(e) {
            e.preventDefault()
            $.ajax({
                url: '/place-order',
                method: "POST",
                data: $form2.serialize(),
                success: (response) => {

                    if (response.COD_success) {
                        alert('order placed')
                        location.href = '/order'
                    } else {
                        alert("razorpay started")
                        razorpayPayment(response)
                    }


                }
            })
        }
        function razorpayPayment(order) {
            var options = {
                "key": "rzp_test_T1PqEHZOGJ29HP", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "5G World",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {

                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();


        }

        function verifyPayment(payment, order) {

            $.ajax({
                url: '/verify-payment',
                method: 'post',
                data: {
                    payment,
                    order
                },

                success: (response) => {
                    if (response.status) {
                        location.href = '/order-success'
                    } else {
                        alert("payment failed")
                    }
                }
            })
        }
    </script>

    <script>
        var accItem = document.getElementsByClassName('accordionItem');
        var accHD = document.getElementsByClassName('accordionItemHeading');
        for (i = 0; i < accHD.length; i++) {
            accHD[i].addEventListener('click', toggleItem, false);
        }
        function toggleItem() {
            var itemClass = this.parentNode.className;
            for (i = 0; i < accItem.length; i++) {
                accItem[i].className = 'accordionItem close';
            }
            if (itemClass == 'accordionItem close') {
                this.parentNode.className = 'accordionItem open';
            }
        }
    </script>