<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Wish List</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">

    <div class="container" id="wish_list_Container">
        <div class="row">
            <div class="col-lg-12 mb-4 shadow">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr sty>
                                <th>Product</th>
                                <th>Price</th>
                                <th>description</th>

                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each wishProducts}}

                            <tr id="cart-row{{this.wishedItems.product}}">

                                <td class="cart__product__item">
                                    <img style="height: 110px; wedth:110px;"
                                        src="/productimages/{{this.productLookup.productPictures.filename}}" alt="">
                                    <div class="cart__product__item__title">
                                        <h6>{{this.productLookup.name}}</h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </td>


                                <td class="cart__price"><span
                                        id="productPrice{{this.cartItems.product}}">{{this.productLookup.price}}</span>
                                </td>
                                <td>
                                    <span>{{this.productLookup.description}}</span>

                                </td>

                                <td>
                                    <button onclick="Add_To_Cart('{{this.productLookup._id}}')" type="submit"
                                        class="proceed_to_checkout">
                                        Add To cart
                                    </button>

                                </td>

                                <td class="cart__close"><button class="cart-remove-btn mr-5"
                                        onclick="delete_Product('{{this.productLookup._id}}')"><span
                                            class="icon_close "></span></button></td>
                            </tr>
                            {{/each}}

                            {{!-- sweet alert starts --}}
                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
                            <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
                            <!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
                            <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>

                            <script>
                                swal("Are you sure you want to do this?", {
                                    buttons: ["Oh noez!", true],
                                });
                            </script>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="/">Continue Shopping</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- Shop Cart Section End -->


<script>
    function Add_To_Cart(proId) {

        $.ajax({
            url: '/add__To__cart/' + proId,
            method: 'get',
            success: (response) => {
                if (response.stockOut) {

                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    Toast.fire({
                        icon: 'error',
                        title: 'Product out of stock'
                    })
                    $('#cart-count').load(`${location.href} #cart-count`)
                }

                if (response.status) {
                     const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    Toast.fire({
                        icon: 'success',
                        title: 'Product added to cart'
                    })
                   

                    $('#cart-count').load(`${location.href} #cart-  `)
                }

            }
        })
    }
</script>